<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="AWS-KEY" value="YOUR-AWS-KEY-WITH-SECURITY-GROUP-GRANT"/>
    <add key="AWS-SECRET" value="YOUR-AWS-SECRET"/>
    <add key="AWS-SG_ID" value="YOUR-SECURITY-GROUP-ID-EX-sg-042be235"/>

    <!-- Default is my secret ip endpoint ;) - it can be down anytime ;) -->    
    <add key="IP-ENDPOINT" value="https://www.andremesquita.com/mrmxyzptlk.php"/>
    
    <add key="MAIL-FROM" value="your-mail-from@gmail.com"/>
    <add key="MAIL-TO" value="your-mail-to@gmail.com"/>
    <add key="MAIL-HOST" value="smtp.gmail.com"/>
    <add key="MAIL-PORT" value="587"/>
    <add key="MAIL-SSL" value="true"/>
    <add key="MAIL-USER" value="your-mail-account@gmail.com"/>
    <add key="MAIL-PASS" value="your-mail-pass"/>
  </appSettings>
</configuration>