<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- MODE -->
    <!-- "A" - AUTOMATIC - DEFAUT - Using this file -->
    <!-- "C" - CONSOLE   - WITH PARAMS -->
    <!-- MODO -->
    <add key="MODO" value="A"/>
    <!--  -->
    <add key="CHAVE" value="YOUR-KEY" />
    <add key="SEGREDO" value="YOUR-SECRET" />
    <add key="BUCKET_NAME" value="YOUR-BUCKET" />
    <!--  -->    
    <add key="ENDPOINT" value="YOUR-ENDPOINT-URL" />
    <!--  -->
    <add key="NOME_ARQUIVO" value="\FILE-NAME.png" />
    <add key="CAMINHO_ARQUIVO" value="C:\TEMPO\FILE-TO-SEND.png" />

    <add key="AWSAccessKey" value="YOUR-KEY"/>
    <add key="AWSSecretKey" value="YOUR-SECRET"/>
    <add key="AWSRegion" value="sa-east-1" />
    <add key="Bucket" value="YOUR-BUCKET"/>
  </appSettings>

</configuration>