<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- MODO -->
    <!-- "A" - AUTOMATIC - CONFIG FILE -->
    <!-- "C" - MANUAL    - COMMAND LINE -->
    <!-- MODO -->
    <add key="MODO" value="A"/>
    <!--  -->
    <add key="CHAVE" value="YOUR-KEY" />
    <add key="SEGREDO" value="YOUR-SECRET" />
    <add key="BUCKET_NAME" value="YOUR-BUCKET-NAME" />
    <!--  -->    
    <add key="ENDPOINT" value="http://YOUR-BUCKET.s3.amazonaws.com/" />
    <!--  -->
    <add key="NOME_ARQUIVO" value="\logo_avm.png" />
    <add key="CAMINHO_ARQUIVO" value="C:\TEMP\logo_avm.png" />


    <add key="AWSAccessKey" value="YOUR-KEY"/>
    <add key="AWSSecretKey" value="YOUR-SECRET"/>
    <add key="AWSRegion" value="sa-east-1" />
    <add key="Bucket" value="YOUR-BUCKET"/>

  </appSettings>

</configuration>